*{
    margin-left: 10px;
    margin-right: 0px;
}
body{
    font-family: Inter;
}
.text-align{
    text-align: center;
}
.bg-point{
    height: 100px;
    
}
.main-heading{
    margin-bottom: 50px;
  
}
.heading2{
    margin-top: 120px;
    margin-bottom: 40px;
}
.last-heading{
    margin-top: 70px;
    color: #ff6a07;
   text-align: center;
   font-weight: bold;
  text-decoration: underline;
   padding: 20px;
   border-bottom: 4px 4px solid #ff6a07;
}
.bag{
    position: absolute;
    top: 2180px;
    left: 130px;
}
.perfume{
    position: absolute;
    top: 2050px;
    left: 370px;
}
.shop{
    position: absolute;
    top: 2300px;
    left: 360px;
}
.pale-order{
    
    position: absolute;
    top: 2000px;
    right: 30px;
}
.container{
cursor: pointer;
}

.card-img-top{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card-img-top:hover{
    transform: translateY(-10);
    -webkit-transform: translateY(-10);
    -moz-transform: translateY(-10);
    -ms-transform: translateY(-10);
    -o-transform: translateY(-10);
}

.img-size, .card-img-top {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  

  .img-size:hover, .card-img-top:hover {
    transform: scale(1.05); 
    opacity: 0.8; 
  }
.card-body{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card-body:hover{
    box-shadow: 4px 4px solid red;
}
  
.bg-2 {
    width: 100px;         
    height: auto;         
    display: block;       
    margin-left: 0;       
    margin-right: auto;   
  }
.bg2{
    height: 400px;
    width: 100px;
}  